---
import { SITE_TITLE } from "../constants";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE}>
    <h1>{SITE_TITLE}</h1>
    <p>
        Append a url to the end of <code>{Astro.url.host}/</code> to start reading!
    </p>
</Layout>
