---
import Navbar from "../components/Navbar.astro";

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="RSS Reader" />
        <meta name="referrer" content="no-referrer" />
        <meta name="robots" content="nofollow" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body>
        <noscript>
            <style>
                .javascript-required {
                    display: none;
                }
            </style>
        </noscript>
        <Navbar title={title} />
        <main class="prose container mx-auto my-8">
            <slot />
        </main>
    </body>
</html>
