---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="RSS Reader" />
        <meta name="referrer" content="no-referrer" />
        <meta name="robots" content="nofollow" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body>
        <div
            class="sticky top-0 prose px-6 py-4 bg-white max-w-none shadow opacity-75"
        >
            <a href="/" class="no-underline"><h1 class="m-0">{title}</h1></a>
        </div>
        <main class="prose container mx-auto my-8">
            <slot />
        </main>
    </body>
</html>
